/node_modules
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.git
.github
.gitignore
.vscode
php_errors.log
composer.lock
package-lock.json
public/build
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
